:root {
  /* base  */
  --background-color: hsl(240, 21%, 15%);

  /* text */
  --color: hsl(226, 64%, 88%);

  --green: hsl(115, 54%, 76%);

  --overlay: hsl(228, 17%, 64%);
  color: var(--color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

#subtitle {
  font-size: 1.25rem;
  margin: 10px;
}

#passwordInput {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-width: 2px;
  background-color: var(--color);
  border-radius: 0.5rem;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.7rem;
  padding-left: 0.65em;
  box-shadow: none;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  /* Added transition */
}

#passwordInput:focus {
  outline: 2px solid transparent;
}

#passwordInput.hidden {
  opacity: 0;
  transform: translate(-50%, -60%);
  /* Move it slightly off-screen */
}


body {
  font-family: 'GeistSans', sans-serif;
}

table {
  margin: 5em auto;
  border-collapse: collapse;
  width: 70%;
}

/* Style the table headers */
th,
td {
  border: 1px solid var(--overlay);
  font-size: 1.2em;
  padding: 15px;
}

th {
  background-color: var(--background-color);
  font-weight: normal;
  color: var(--overlay);
}

/* Center and limit the width of the main container */
.container {
  max-width: 165em;
  margin: 0 auto;
  text-align: center;
}

/* Style for number cell */
.number-cell {
  position: relative;
}


/* Style for increment and decrement buttons */
.increment-button,
.decrement-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  font-size: 1.2em;
  /* Increase font size */
}

.increment-button {
  right: 10px;
  /* Move slightly towards the center */
}

.decrement-button {
  left: 10px;
  /* Move slightly towards the center */
}

/* Show buttons only on hover of the specific cell */
.number-cell:hover .increment-button,
.number-cell:hover .decrement-button {
  opacity: 1;
}

/* Style for habit name cell */
.habit-cell {
  text-align: left;
  text-transform: capitalize;
}

/* Make the checked booleans green background */
.checked-cell {
  background-color: var(--green);
}

th.today {
  border-top: 2px solid hsl(228, 24%, 72%);
}

td.today,
th.today {
  border-left: 2px solid hsl(228, 24%, 72%);
  border-right: 2px solid hsl(228, 24%, 72%);
}

table tr:last-child th.today,
table tr:last-child td.today {
  border-bottom: 2px solid hsl(228, 24%, 72%);
}

.date-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.date-header .month {
  font-size: 0.8em;
}

.date-header .day {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color);
}


.date-header .weekday {
  text-transform: uppercase;
  font-size: 0.9em;
}

th.today .date-header {
  background-color: hsl(237, 16%, 23%);
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: --color;
}

td.boolean {
  height: 54px;
  /* Set a fixed height that accommodates the checkbox */
  box-sizing: border-box;
  /* Include padding in height calculation */
  vertical-align: middle;
}

td.boolean svg {
  display: block;
  /* Remove any default spacing */
  margin: 0 auto;
  /* Center the checkmark */
}

#dataTable {
  opacity: 0;
  transition: opacity 0.5s ease-in, margin-top 0.5s ease-in;
  margin-top: 2em;
  /* Start a bit lower */
}

#dataTable.visible {
  opacity: 1;
  margin-top: 5em;
  /* Return to original margin */
}